    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>GBIC</h2>
          </header>
          <p>We are Graduate Bioinformatics Council (GBIC),<br>
          the voice of the students in the Bioinformatics and<br>
          Systems Biology PhD program at UCSD.<br>
          </p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
          </footer>

        </div>

      </section>
